/* .search_form{
    
} */

.nav-ink {
  color: black;
}

.front-tab {
  width: 70%;
  /* z-index: -1; */
  position: absolute;
  top: 10em;
  left: 10%;
}

.search-box{
  left: 10em;
}

@media only screen and (max-width: 600px){
  .search-box{
   
    left: 10em ;
  }  
}
